@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Georgian:regular);

@font-face {
  font-family: "Bebas";
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Medium";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Light";
  font-display: swap;
  src: url("../fonts/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

._init .item-footer__title:before,
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-check:before {
  content: "\e900";
}

._icon-embed:before {
  content: "\e901";
}

._icon-file:before {
  content: "\e902";
}

._icon-fullscreen:before {
  content: "\e903";
}

._icon-like:before {
  content: "\e904";
}

._icon-link:before {
  content: "\e905";
}

._icon-man:before {
  content: "\e906";
}

._icon-mobile:before {
  content: "\e907";
}

._icon-play:before {
  content: "\e908";
}

._icon-plus:before {
  content: "\e909";
}

._icon-prev:before {
  content: "\e90a";
}

._icon-p-right:before,
._init .item-footer__title:before {
  content: "\e90b";
}

._icon-settings:before {
  content: "\e90c";
}

._icon-share:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 12px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Helvetica";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Helvetica";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #414141;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 971px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 13px;
  height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button_fm {
  font-family: "Bebas";
  color: #fff;
  background-color: #e8663c;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 13px;
  height: 37px;
  border: 1px solid #e8663c;
  color: #e8663c;
  font-family: "Bebas";
  letter-spacing: 0.2px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.input._focus {
  -webkit-box-shadow: 0 0 15px rgba(232, 103, 60, 0.493);
          box-shadow: 0 0 15px rgba(232, 103, 60, 0.493);
}

.input._error {
  -webkit-box-shadow: 0 0 15px rgba(116, 9, 6, 0.685);
          box-shadow: 0 0 15px rgba(116, 9, 6, 0.685);
}

.input_fm {
  width: 50%;
}

textarea.input {
  resize: none;
  padding: 13px;
  min-height: 208px;
  text-transform: none;
}

.title {
  font-size: 18px;
  color: #e8663c;
  text-transform: uppercase;
  font-family: "Bebas";
  line-height: 133.3333333333%;
}

.text {
  line-height: 150%;
}

._after-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100px;
  width: 100%;
  height: 14px;
  background: -o-repeating-linear-gradient(135deg, #c3c3c3 0 1px, #fff 1px 2px);
  background: repeating-linear-gradient(-45deg, #c3c3c3 0 1px, #fff 1px 2px);
}

.item-portfolio::after,
.item-recent-works::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: -o-linear-gradient(225deg, #fff 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  background: linear-gradient(225deg, #fff 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

._footer-title {
  font-size: 20px;
  color: #fff;
  font-family: "Bebas";
  text-transform: uppercase;
}

.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8663c;
  padding: 15px 19px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top:before,
.top:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f3af9d;
}

.top:before {
  left: -101%;
}

.top:after {
  right: -101%;
}

.top__title {
  font-size: 24px;
  color: #fff;
  line-height: 133.3333333333%;
  font-family: "Bebas";
  font-size: 24px;
}

._content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._arrows-slider {
  position: absolute;
  bottom: 33%;
  z-index: 5;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: calc(100% - 0px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[2];
  grid-template-columns: repeat(2, 30px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 51;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 78px;
}

.header__logo {
  position: relative;
  font-size: 36px;
  font-family: "Bebas";
  color: #e8663c;
  letter-spacing: 0.7px;
  z-index: 51;
}

.header__logo span {
  color: #f3af9d;
}

.menu__link {
  display: inline-block;
  font-size: 16px;
  padding: 5px 0;
  color: #b9b9b9;
  font-family: "Bebas";
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.menu__link._active {
  color: #e8663c;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
}

.footer__items {
  position: relative;
  background-color: #e8663c;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 35px;
  padding-right: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 1fr 260px;
  grid-template-columns: 260px 1fr 260px;
  gap: 63px;
}

.footer__items:before,
.footer__items:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f3af9d;
}

.footer__items:before {
  left: -101%;
}

.footer__items:after {
  right: -101%;
}

.item-footer__title {
  margin: 0px 0px 25px 0px;
}

._init .item-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._init .item-footer__title:before {
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

._init .item-footer__title._active:before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.item-footer._init .item-footer__title {
  margin: 0px 0px 0px 0px;
}

.item-footer__contant {
  color: #fff;
  line-height: 133.3333333333%;
}

.item-footer__contant p span {
  color: #f3af9d;
  font-family: "Helvetica-Light";
}

.item-footer__contant p:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-footer__tweet:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-footer__email {
  display: block;
  color: inherit;
}

.item-footer__phone {
  color: inherit;
}

.item-footer__email:hover,
.item-footer__phone:hover {
  color: #f3af9d;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0px 0px 0px;
}

.social__item:not(:last-child) {
  margin: 0px 5px 0px 0px;
}

.social__item {
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.slider ._swiper {
  width: 100%;
  height: 538px;
}

.slider .slider__top {
  width: 100%;
  height: 74%;
}

.slider .bottom-slider {
  height: 22%;
  width: 100%;
}

.slider {
  min-width: 0;
  position: relative;
}

.slider__top:not(:last-child) {
  margin: 0px 0px 17px 0px;
}

.slider__slide {
  position: relative;
}

.slider__image {
  padding: 0px 0px 42.65% 0px;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 18px;
  position: absolute;
  background-color: rgba(232, 103, 60, 0.8);
  max-width: 413px;
  min-height: 124px;
  overflow: auto;
}

.slider__title {
  color: #fff;
}

.slider__text {
  color: #fff;
}

.slider__arrows {
  bottom: 60%;
  -webkit-transform: translate(0px, -60%);
      -ms-transform: translate(0px, -60%);
          transform: translate(0px, -60%);
}

.slider__arrow {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.74);
  position: relative;
  pointer-events: auto;
}

.slider__arrow--prev {
  left: 15px;
}

.slider__arrow--prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
}

.slider__arrow--next {
  right: 15px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider__arrow--next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
}

.bottom-slider {
  cursor: pointer;
}

.bottom-slider__slide {
  opacity: 0.6;
}

.bottom-slider .swiper-slide-thumb-active {
  opacity: 1;
}

.bottom-slider__image {
  padding: 0px 0px 86% 0px;
}

.features {
  padding: 38px 0px 45px 0px;
}

.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -21px;
}

.features__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 21px;
}

.item-features {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-features__header {
  letter-spacing: 0.1px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-bottom: 32px;
}

.item-features__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  letter-spacing: 0.1px;
}

.item-features__text:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-features__button {
  color: #fff;
  line-height: 200%;
  text-transform: uppercase;
  background-color: #e8663c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 56px;
}

.header-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-features__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49px;
          flex: 0 0 49px;
  width: 49px;
  height: 46px;
  color: #e8663c;
  font-size: 46px;
  margin: 0px 22px 0px 0px;
}

.header-features__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 177px;
}

.header-features:hover .header-features__title {
  text-decoration: underline;
}

.recent-works {
  overflow: hidden;
  padding-bottom: 48px;
}

.recent-works__title {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 14px;
  margin: 0px 0px 24px 0px;
}

.recent-works__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  position: relative;
}

.recent-works__item {
  position: relative;
}

.item-recent-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 0.8s ease 0s;
  transition: -webkit-box-shadow 0.8s ease 0s;
  -o-transition: box-shadow 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s;
  transition: box-shadow 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
}

.item-recent-works__image {
  padding: 0px 0px 70% 0px;
  overflow: hidden;
}

.item-recent-works__image img {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.item-recent-works__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px;
  border: 1px solid #b9b9b9;
  border-top: 0px;
}

.item-recent-works__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  color: #b9b9b9;
  font-family: "Bebas";
  letter-spacing: 1.2px;
  line-height: 112.5%;
  margin: 0px 0px 3px 0px;
}

.item-recent-works__date {
  text-transform: uppercase;
  font-size: 11px;
  color: #e8663c;
  font-family: "Bebas";
  line-height: 163.6363636364%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0px 40px 0px;
}

.about p {
  line-height: 150%;
}

.about__content p {
  margin: 0px 0px 22px 0px;
}

.about__letter span {
  float: left;
  margin: 10px 7px 0px 0px;
  font-size: 36px;
  line-height: 50%;
  color: #e8663c;
  font-family: "Helvetica-Medium";
}

.about__quote {
  padding: 0px 0px 0px 50px;
  padding-left: 50px;
}

.about__quote p {
  border-left: 8px solid #e8663c;
  padding: 0px 0px 0px 20px;
  font-family: "Helvetica-Light";
  font-style: italic;
  padding-left: 20px;
}

.about__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 20px;
  margin: 0px 0px 25px 0px;
}

.about__column p {
  margin: 0px 0px 0px 0px;
}

.about__columns--3 {
  margin: 0 -10px;
}

.about__columns--3 .about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 10px;
}

.image-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 28px 0px;
}

.image-about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 228px;
          flex: 0 0 228px;
}

.image-about__image img {
  border: 1px solid #414141;
  padding: 2px;
}

.image-about__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 23px;
}

.image-about__text p {
  margin: 0px 0px 0px 0px;
}

.alert-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 142.8571428571%;
  font-style: italic;
  border: 1px solid #fff;
  padding: 23px 15px;
}

.alert-about__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.alert-about__item p {
  margin: 0px 0px 10px 0px;
}

.alert-about__item p:last-child {
  margin: 0px 0px 0px 0px;
}

.alert-about__item--green {
  color: #98c601;
  border-color: #98c601;
  background-color: #effeb9;
}

.alert-about__item--red {
  color: #eb5439;
  border-color: #eb5439;
  background-color: #fbcbc1;
}

.alert-about__item--yellow {
  color: #fab418;
  border-color: #fab418;
  background-color: #ffe9ad;
}

.alert-about__item--blue {
  color: #4d8fcb;
  border-color: #4d8fcb;
  background-color: #d1e4f3;
}

.side-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 218px;
          flex: 0 0 218px;
  max-width: 218px;
}

.side-about__item:not(:last-child) {
  margin-bottom: 38px;
}

.side-about__title {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-family: "Bebas";
  color: #e8663c;
  margin: 0px 0px 18px 0px;
}

.side-about__title._after-block:after {
  height: 11px;
  left: 80px;
}

.side-about__link {
  color: inherit;
  -webkit-transition: -webkit-text-decoration 0.5s ease 0s;
  transition: -webkit-text-decoration 0.5s ease 0s;
  -o-transition: text-decoration 0.5s ease 0s;
  transition: text-decoration 0.5s ease 0s;
  transition: text-decoration 0.5s ease 0s, -webkit-text-decoration 0.5s ease 0s;
  line-height: 150%;
}

.side-about__link:hover {
  text-decoration: underline;
}

.item-side-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5px 1fr;
  -ms-grid-columns: 51px 5px 51px 5px 51px 5px 51px;
      grid-template: repeat(2, 1fr)/repeat(4, 51px);
  gap: 5px;
}

.item-side-about__block {
  border: 1px solid #e8603c;
  background-color: #f3af9d;
  width: 51px;
  height: 51px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0px 47px 0px;
}

.blog p {
  line-height: 150%;
}

.blog__content {
  min-width: 0;
}

.blog__post {
  position: relative;
  margin-bottom: 60px;
}

.blog__post._after-block:after {
  top: 100%;
  left: 0;
}

.post__descrition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22px;
  padding-bottom: 50px;
}

.post__descrition_web {
  padding-top: 0;
}

.post__descrition_web .post__content {
  padding-left: 0;
}

.post__descrition_web .post__title {
  margin: 0px 0px 10px 0px;
}

.post__descrition_web .post__subtitle {
  display: inline-block;
  color: #c3c3c3;
  margin: 0px 0px 23px 0px;
  -webkit-transition: -webkit-text-decoration 0.5s ease 0s;
  transition: -webkit-text-decoration 0.5s ease 0s;
  -o-transition: text-decoration 0.5s ease 0s;
  transition: text-decoration 0.5s ease 0s;
  transition: text-decoration 0.5s ease 0s, -webkit-text-decoration 0.5s ease 0s;
}

.post__stats {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.post__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: calc(20px + 30 * ((100vw - 320px) / 1080));
}

.post__title {
  display: inline-block;
  font-size: 18px;
  font-family: "Bebas";
  color: #e8663c;
  margin: 0px 0px 15px 0px;
  -webkit-transition: -webkit-text-decoration 0.5s ease 0s;
  transition: -webkit-text-decoration 0.5s ease 0s;
  -o-transition: text-decoration 0.5s ease 0s;
  transition: text-decoration 0.5s ease 0s;
  transition: text-decoration 0.5s ease 0s, -webkit-text-decoration 0.5s ease 0s;
}

.post__text p {
  line-height: 150%;
}

.post__text p:not(:last-child) {
  margin: 0px 0px 22px 0px;
}

.post__video {
  position: relative;
}

.stats-post__item {
  color: #bababa;
}

.stats-post__item:not(:last-child) {
  margin-bottom: 12px;
}

.stats-post__header {
  text-transform: uppercase;
  font-family: "Bebas";
  color: #e8663c;
  line-height: 166.6666666667%;
}

.slider-1 {
  position: relative;
  min-width: 0;
}

.slider-1__image {
  padding: 0px 0px 44.6% 0px;
}

.slider-2 {
  position: relative;
  min-width: 0;
}

.slider-2__slide {
  position: relative;
}

.slider-2__image {
  padding: 0px 0px 44.6% 0px;
}

.video {
  overflow: hidden;
}

.video:-webkit-full-screen {
  padding-bottom: 100vh;
}

.video:-ms-fullscreen {
  padding-bottom: 100vh;
}

.video:fullscreen {
  padding-bottom: 100vh;
}

.video:hover .controls,
.video:hover .video__text,
.video:hover .video__icons {
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.video__player {
  position: relative;
  padding: 0px 0px 44.6% 0px;
  overflow: hidden;
}

.video__player video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__text {
  position: absolute;
  left: 11px;
  top: 11px;
  font-size: 18px;
  opacity: 0;
  font-size: 18px;
  color: #00adef;
  -webkit-transition: opacity 0.5s ease-in 3s;
  -o-transition: opacity 0.5s ease-in 3s;
  transition: opacity 0.5s ease-in 3s;
}

.video__text p {
  margin: 0px 0px 2px 0px;
  background-color: rgba(23, 35, 34, 0.8);
  padding: 0 10px;
}

.video__text p:first-child {
  padding-right: 50px;
  line-height: 165%;
}

.video__text p:last-child {
  display: inline-block;
  line-height: 100%;
}

.video__text small {
  font-size: 12px;
}

.video__text span {
  color: #fff;
}

.video__icons {
  position: absolute;
  right: 11px;
  top: 11px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in 3s;
  -o-transition: opacity 0.5s ease-in 3s;
  transition: opacity 0.5s ease-in 3s;
}

.video__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(23, 35, 34, 0.8);
  width: 45px;
  height: 35px;
  border-radius: 5px;
  font-size: 9px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.8s ease 0s;
  -o-transition: color 0.8s ease 0s;
  transition: color 0.8s ease 0s;
}

.video__icon:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.video__icon::before {
  font-size: 11px;
  margin: 0px 0px 3px 0px;
}

.video__icon:hover {
  color: #00adef;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 11px;
  left: 11px;
  width: 80%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in 3s;
  -o-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
  cursor: pointer;
}

.controls__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  background-color: rgba(23, 35, 34, 0.8);
  border-radius: 5px;
  width: 65px;
  height: 40px;
  margin: 0px 10px 0px 0px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: color 0.8s ease 0s;
  -o-transition: color 0.8s ease 0s;
  transition: color 0.8s ease 0s;
}

.controls__button:hover {
  color: #00adef;
}

.controls__button.paused {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.controls__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(23, 35, 34, 0.8);
  border-radius: 5px;
  height: 32px;
  padding: 10px;
  width: 100%;
}

.controls__progress {
  height: 16px;
  border: 1px solid #898f8f;
  width: calc(100% - 70px);
  padding: 1px;
  cursor: pointer;
}

.controls__filled {
  padding: 1px;
  background-color: #00adef;
  width: 0;
  height: 100%;
}

.controls__fullscreen {
  color: #fff;
  -webkit-transition: color 0.8s ease 0s;
  -o-transition: color 0.8s ease 0s;
  transition: color 0.8s ease 0s;
}

.controls__fullscreen:hover {
  color: #00adef;
}

.quote {
  padding-bottom: 50px;
}

.quote::before {
  position: absolute;
  content: "";
  top: 0;
  left: -85px;
  width: 75px;
  height: 75px;
  background: #e8663c url(../img/home/quote.svg) center no-repeat;
}

.quote__content {
  background-color: #f4f4f4;
  padding: 20px 30px;
  position: relative;
}

.quote__content p {
  font-style: italic;
}

.quote__content p span {
  float: left;
  margin: 14px 0px 0px 0px;
  font-size: 72px;
  color: #e8663c;
  font-family: "Georgian";
  padding: 0px 14px 0px 0px;
  line-height: 22.5%;
}

.pagination-blog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (26px)[3];
  grid-template-columns: repeat(3, 26px);
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.pagination-blog__link {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3af9d;
  font-size: 14px;
  font-family: "Bebas";
  color: #fff;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.pagination-blog__link.active {
  background-color: #e8663c;
}

.pagination-blog__link:hover:not(.active) {
  background-color: #e8663c;
}

.portfolio {
  padding-top: 35px;
  padding-bottom: 45px;
}

.portfolio__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 45px;
}

.filter {
  margin: 0px 0px 37px 0px;
  margin-bottom: 37px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item {
  font-size: 14px;
  font-family: "Bebas";
  line-height: 171.4285714286%;
  padding: 0px 12px;
  color: #b9b9b9;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  cursor: pointer;
}

.filter__item._active {
  color: #fff;
  background-color: #e8663c;
}

.item-portfolio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
}

.item-portfolio:hover .item-portfolio__hover {
  opacity: 1;
}

.item-portfolio:hover .item-portfolio__hover .item-portfolio__icon {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.item-portfolio:hover .item-portfolio__title {
  text-decoration: underline;
}

.item-portfolio.hide {
  display: none;
}

.item-portfolio__image {
  position: relative;
  padding: 0px 0px 70% 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.item-portfolio__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.item-portfolio__icon {
  font-size: 38px;
  color: rgba(254, 254, 254, 0.705);
  opacity: 0;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.3s 0.1s ease-in;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.3s 0.1s ease-in;
  -o-transition: transform 0.3s 0.1s ease-in, opacity 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in, opacity 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in, opacity 0.1s ease-in-out, -webkit-transform 0.3s 0.1s ease-in;
}

.item-portfolio__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px;
  border: 1px solid #b9b9b9;
  border-top: 0px;
}

.item-portfolio__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  color: #b9b9b9;
  font-family: "Bebas";
  line-height: 112.5%;
  letter-spacing: 1.2px;
  margin: 0px 0px 3px 0px;
}

.item-portfolio__date {
  text-transform: uppercase;
  font-size: 11px;
  color: #e8663c;
  font-family: "Bebas";
  line-height: 163.6363636364%;
}

.portfolio-item {
  padding: 24px 0px 0px 0px;
  padding-bottom: 50px;
}

.portfolio-item__image {
  padding: 0px 0px 42.6% 0px;
  margin: 0px 0px 24px 0px;
}

.contact {
  padding: 25px 0px 0px 0px;
  padding-bottom: 37px;
}

.contact__map {
  margin: 0px 0px 30px 0px;
}

.contact__map iframe {
  width: 100%;
  height: 400px;
}

.details-contact * {
  margin: 0px 0px 15px 0px;
}

.details-contact__text {
  line-height: 116.6666666667%;
}

.details-contact__title {
  color: #e8663c;
  font-family: "Helvetica-Medium";
  text-transform: capitalize;
  margin: 0px 0px 2px 0px;
}

.details-contact__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 0px 0px;
}

.details-contact__contact a {
  margin: 0px 0px 3px 0px;
  color: inherit;
}

.form-contact__form {
  position: relative;
}

.form-contact__form::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.7) url("../img/icons/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form-contact__form._sending::after {
  opacity: 1;
  visibility: visible;
}

.form-contact__line {
  margin: 0px 0px 12px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 78px 0px 0px 0px;
}

.page__slider:before,
.page__slider:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 61px;
  background-color: #f3af9d;
}

.page__slider:before {
  left: -101%;
}

.page__slider:after {
  right: -101%;
}

@media (min-width: 540px) {
  .contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }

  .contact__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 208px;
            flex: 0 0 208px;
    padding: 0 15px;
  }

  .contact__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 15px;
  }
}

@media (min-width: 767.98px) {
  .header.translucent {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }

  .slider__content {
    left: 36px;
    bottom: 36px;
  }

  .item-recent-works:hover::after {
    width: 30px;
    height: 30px;
  }

  .item-recent-works:hover .item-recent-works__title {
    text-decoration: underline;
  }

  .item-portfolio:hover::after {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 767px) {
  .video__text {
    padding-left: 58px;
  }

  .video__text:before {
    position: absolute;
    content: "";
    left: 0;
    width: 52px;
    height: 52px;
    background-color: #172322;
  }
}

@media all and (min-width: 768px) {
  .filter__item:hover {
    color: #fff;
    background-color: #e8663c;
  }
}

@media (min-width: 850px) {
  ._content {
    padding-right: 50px;
  }

  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 991.98px) {
  .details-contact__contact a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1115px) {
  .post:before {
    position: absolute;
    top: 0;
    left: -85px;
    color: #fff;
    font-size: 32px;
    width: 75px;
    height: 75px;
    background-color: #e8663c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1115px) {
  .post:before {
    display: none;
  }

  .quote::before {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .top:before,
  .top:after {
    display: none;
  }

  .footer__items {
    -ms-grid-columns: 200px 1fr 200px;
    grid-template-columns: 200px 1fr 200px;
    gap: 20px;
  }

  .footer__items:before,
  .footer__items:after {
    display: none;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 35px 0px;
  }

  .features__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 0px 0px;
  }

  .portfolio__items {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .page__slider:before,
  .page__slider:after {
    display: none;
  }
}

@media (max-width: 971px) {
  .top {
    padding-top: calc(7px + 8 * ((100vw - 320px) / 651));
  }

  .top {
    padding-bottom: calc(7px + 8 * ((100vw - 320px) / 651));
  }

  .top__title {
    font-size: calc(22px + 2 * ((100vw - 320px) / 651));
  }

  .header__logo {
    font-size: calc(28px + 8 * ((100vw - 320px) / 651));
  }

  .footer__items {
    padding-top: calc(20px + 19 * ((100vw - 320px) / 651));
  }

  .footer__items {
    padding-bottom: calc(20px + 19 * ((100vw - 320px) / 651));
  }

  .footer__items {
    padding-left: calc(20px + 15 * ((100vw - 320px) / 651));
  }

  .footer__items {
    padding-right: calc(20px + 15 * ((100vw - 320px) / 651));
  }

  .item-features__header {
    margin-bottom: calc(10px + 22 * ((100vw - 320px) / 651));
  }

  .recent-works {
    padding-bottom: calc(35px + 13 * ((100vw - 320px) / 651));
  }

  .recent-works__items {
    gap: calc(10px + 10 * ((100vw - 320px) / 651));
  }

  .about__quote {
    padding-left: calc(10px + 40 * ((100vw - 320px) / 651));
  }

  .about__quote p {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 651));
  }

  .side-about__item:not(:last-child) {
    margin-bottom: calc(25px + 13 * ((100vw - 320px) / 651));
  }

  .blog__post {
    margin-bottom: calc(38px + 22 * ((100vw - 320px) / 651));
  }

  .post__descrition {
    padding-bottom: calc(22px + 28 * ((100vw - 320px) / 651));
  }

  .video__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 651));
  }

  .controls__button {
    font-size: calc(12px + 4 * ((100vw - 320px) / 651));
  }

  .quote {
    padding-bottom: calc(22px + 28 * ((100vw - 320px) / 651));
  }

  .portfolio {
    padding-top: calc(25px + 10 * ((100vw - 320px) / 651));
  }

  .portfolio {
    padding-bottom: calc(20px + 25 * ((100vw - 320px) / 651));
  }

  .portfolio__items {
    -webkit-column-gap: calc(10px + 10 * ((100vw - 320px) / 651));
       -moz-column-gap: calc(10px + 10 * ((100vw - 320px) / 651));
            column-gap: calc(10px + 10 * ((100vw - 320px) / 651));
  }

  .portfolio__items {
    row-gap: calc(20px + 25 * ((100vw - 320px) / 651));
  }

  .filter {
    margin-bottom: calc(25px + 12 * ((100vw - 320px) / 651));
  }

  .portfolio-item {
    padding-bottom: calc(25px + 25 * ((100vw - 320px) / 651));
  }

  .contact {
    padding-bottom: calc(25px + 12 * ((100vw - 320px) / 651));
  }
}

@media (max-width: 970px) {
  .recent-works__items {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}

@media (max-width: 850px) {
  ._content {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
  }

  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__content {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
  }

  .side-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }

  .item-side-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .blog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 810px) {
  .page__slider:before {
    left: -100%;
  }

  .page__slider:after {
    right: -100%;
  }
}

@media (max-width: 767.98px) {
  .input_fm {
    width: 75%;
  }

  .header__body {
    min-height: 50px;
    position: relative;
    z-index: 70;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    padding: 50px 15px 30px 15px;
    z-index: 50;
  }

  .menu__body:before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    text-align: center;
  }

  .menu__item {
    margin: 0px 0px 10px 0px;
  }

  .menu__link {
    font-size: 18px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 16px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 51;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e8663c;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__items {
    -ms-grid-rows: (0.1fr)[3];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(3, 0.1fr)/repeat(1, 1fr);
  }

  .item-footer:nth-of-type(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .item-footer:nth-of-type(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .item-footer:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .item-footer__email,
  .item-footer__phone {
    text-decoration: underline;
  }

  .slider__top:not(:last-child) {
    height: calc(231px + 414 * ((100vw - 320px) / 1080));
    margin: 0px 0px 0px 0px;
  }

  .slider__content {
    max-width: 768px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-right: 18px;
    min-height: 100px;
  }

  .slider__text {
    line-height: 130%;
  }

  .slider__arrow {
    font-size: 25px;
  }

  .slider__bottom {
    display: none;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .header-features__title {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-recent-works .item-recent-works__title {
    text-decoration: underline;
  }

  .item-portfolio__title {
    text-decoration: underline;
  }

  .details-contact__contact a {
    text-decoration: underline;
  }

  .page {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) and (max-width: 971px) {
  .slider__content {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 651));
  }

  .slider__content {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 651));
  }

  .slider__content {
    padding-left: calc(10px + 8 * ((100vw - 320px) / 651));
  }

  .slider__content {
    padding-right: calc(10px + 8 * ((100vw - 320px) / 651));
  }
}

@media (max-width: 760px) {
  .recent-works__items {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

@media (max-width: 650px) {
  .about__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .image-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .image-about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0px 0px 70% 0px;
    margin: 0px 0px 20px 0px;
  }

  .image-about__text {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .header-features__icon {
    height: 40px;
    font-size: 40px;
  }

  .post__descrition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .post__stats {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
  }

  .post__content {
    padding-left: 0;
  }

  .stats-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .stats-post__item {
    margin-right: calc(9px + 41 * ((100vw - 320px) / 1080));
    margin-bottom: 0 !important;
  }
}

@media (max-width: 550px) {
  .video__text p:first-child {
    padding-right: 10px;
  }

  .controls__button {
    width: 40px;
    height: 20px;
  }

  .controls__group {
    height: 20px;
  }

  .controls__progress {
    height: 8px;
  }
}

@media (max-width: 540px) {
  .contact__details {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 502px) {
  .recent-works__items {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
}

@media (max-width: 479.98px) {
  .video__text {
    top: 5px;
  }

  .video__icons {
    top: 5px;
  }

  .video__icon {
    width: 35px;
    height: 25px;
    font-size: 7px;
  }

  .video__icon::before {
    font-size: 8px;
  }

  .controls {
    bottom: 5px;
  }
}

@media (max-width: 475px) {
  .item-side-about {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 850px) and (max-width: 971px) {
  ._content {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 651));
  }
}

@media (min-width: 767.98px) and (max-width: 971px) {
  .slider__content {
    left: calc(0px + 36 * ((100vw - 320px) / 651));
  }

  .slider__content {
    bottom: calc(0px + 36 * ((100vw - 320px) / 651));
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #e8663c;
    background-color: #fff;
    border: 1px solid #e8663c;
  }

  .menu__link:hover {
    color: #e8663c;
  }

  .social__item:hover {
    opacity: 0.5;
  }

  .item-recent-works:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .post__descrition_web .post__subtitle:hover {
    text-decoration: underline;
  }

  .post__title:hover {
    text-decoration: underline;
  }
}